a,
button,
input,
select,
textarea {
	outline: none
}

/* adding basic styling to inputs and textareas removes the default outline in FF */
input[type="text"],
textarea {
	border: 1px solid #ccc;
	font-size: 16px;
	padding: 10px;
}

a:hover,
a:active {
	outline: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
	outline: 3px solid blue;
}

.focus--mouse {
	outline: none !important;
}