a,
button,
input,
select,
textarea {
	outline: none
}

a:hover,
a:active {
	outline: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
	outline: 3px solid blue;
}

.focus--mouse {
	box-shadow: none;
	outline: none !important;
}