*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.5;
	padding: 50px 0 0;
}

a {
	box-shadow: 0 0 0 transparent;
	transition: all 200ms;
}

p {
	margin: 0 0 20px;
}

.container {
	margin: 0 auto;
	width: 50%;
}
