.focus--keyboard {
	border-color: #ffaa55;
	box-shadow: 0 0 6px 2px #ffaa55;
	outline: none;
}

.focus--mouse {
	border-color: #5aa8bd;
	box-shadow: 0 0 6px 2px #5aa8bd;
	outline: none;
}

a,
button,
input,
select,
textarea {
	&.focus--keyboard {
		@extend .focus--keyboard;
	}

	&.focus--mouse {
		@extend .focus--mouse;
	}
}
